<!DOCTYPE html>
<html>
  <head>
    <title>TetranMsk</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!--navbar-->
    <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
      <div class="container-fluid">

        <a class="navbar-brand" href="#">
          <%= image_tag("logo.png", size: "150x50") %>
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">

            <li class="nav-item active">
              <%= link_to "Customers", customers_path, class: "nav-link" %>
            </li>

            <li class="nav-item">
              <%= link_to "Black list customers", bl_customers_path, class: "nav-link" %>
            </li>

          </ul>
        </div>

      </div>
    </nav>

    <!--image slider-->
    <div class="carousel slide container" id="slides" data-ride="carousel">
      <ul class="carousel-indicators">
        <li data-target="#slides" data-slide-to="0" class="active"></li>
        <li data-target="#slides" data-slide-to="1"></li>
        <li data-target="#slides" data-slide-to="2"></li>
      </ul>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <%= image_tag("slide1.jpg", style: "height: 300px; width: 100%") %>

          <div class="carousel-caption">
            <h1 class="display-2">The Long Dark</h1>
            <h3>try to Survive</h3>
            <button type="button" class="btn btn-outline-light btn-lg">VIEW DEMO</button>
            <button type="button" class="btn btn-primary btn-lg">Get Started</button>
          </div>
        </div>

        <div class="carousel-item">
          <%= image_tag("slide2.jpg", style: "height: 300px; width: 100%") %>
        </div>

        <div class="carousel-item">
          <%= image_tag("slide3.jpg", style: "height: 300px; width: 100%") %>
        </div>
      </div>
    </div>

    <br>
    <div class="container">
      <%= yield %>
    </div>

  </body>
</html>
